<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> <h1> <a href="/login"  > go back to login</a></h1>
    <h2>Register </h2>
    <form action="/register" method="post">
        <h2> Enter username here</h2><br>
        <input name="username" placeholder="Enter username here"><br>
        <h2> Enter Password here</h2><br>
        <input name="password" placeholder="Enter password here" type="password"><br>
        <button type="submit"> Submit</button> <br>
    </form>

</body>
</html>