<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
        <h2>Enter your new bookmark!</h2>
            <form method="post" action="/bookmarks/<%=id%>?_method=PUT">
                <input name = "bookmarkUrl" placeholder="Enter URL" id="inputBookmark">
                <input name = "bookmarkCategory" placeholder="Enter Category" id="inputBookmark">
                <input name = "bookmarkComment" placeholder="Enter Comment" id="inputBookmark">
                <button name = 'submit' id="submit">Submit</button>
            </form>
    </form>
</body>
</html>